@import url('https://fonts.googleapis.com/css?family=Revalia');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*====My reset border-box====*/

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

/*====Style====*/
body{
    background-color:whitesmoke;
    font-family: Arial,Verdana,sans-serif;
}
/*====header====*/
header{
    height: 20%;
    height: 18vh;
    display: flex;
    align-items: center;
    background-color:#1b1e24;
}
.flexMenu{
    flex: 2.5 1.8 ;
    display: flex;
    flex-flow: column nowrap;
    padding-left: 8px;
}
header .title{
    font-family: Revalia, cursive;
    font-size: 2.9rem;
    color: aqua;
    margin-bottom: 15px;
}
.flexStats{
    flex: 1.6 1.2;
    text-align: right;
}
header .navigation{

}
header .navigation ul{
    list-style: none;
    display: flex;
}
header .navigation ul li{
    flex: 1 1 auto;
}
header .navigation ul li:first-child{
    order: 2;
}
header .navigation ul li a{
    color: mediumseagreen;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    justify-content: flex-start;
    -webkit-transition: font-size 1s ease;
    -moz-transition: font-size 1s ease;
    -ms-transition: font-size 1s ease;
    -o-transition: font-size 1s ease;
    transition: font-size 1s ease;
}
header .navigation ul li a:hover,header .navigation .navBar .active a:hover{
    color: springgreen;
    font-size: 2.2rem;
}
header .navigation .navBar .active a{
    color: springgreen;
    font-size: 1.5rem;
}
.dbNumber{
    color: whitesmoke;
    font-size: 0.8rem;
    margin-right: 10px;
}
.dbNumber h3{
    padding-bottom: 8px;
    font-size: 0.9rem;
    text-transform: uppercase;
}
.dbNumber #date{
    padding-bottom: 20px;
    font-size: 0.7rem;
}
.dbNumber #db p{
    letter-spacing: 1px;
    line-height:20px;
}

/*=====main=====*/
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.maincontent{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 85%;
    margin:0 auto 0 auto;
}
.maincontent h2{
    color: #202941;
    margin: 30px 0 30px 0;
    font-size: 1.7rem;
    text-transform: uppercase;
}
.maincontent .content table{
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    height: 320px;
    padding:5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.maincontent .content table td{
    padding: 15px;
    font-size: 0.95rem;
}
.maincontent .content table th{
    color:white;
    font-size: 1.1rem;
    background: #202941;
    border-bottom:2px solid #9ea7af;
    border-right: 1px solid #343a45;
    padding:24px;
    text-align:left;
    text-transform: uppercase;
}
.maincontent .content table th:first-child{
    border-top-left-radius:5px;
}
.maincontent .content table th:last-child{
    border-top-right-radius:5px;
    border-right:none;
}
.maincontent .content table tr{
    border-top: 1px solid #C1C3D1;
    color: #4d5a85;
}
.maincontent .content table tr:nth-child(odd){
    background: #d4deeb;
}
.maincontent .content{

}
.maincontent .content p{
    color: #4d5a85;
    width: 90%;
    margin: auto;
}