
<body>
    <header>
        <div class="title"><h1>W1 Music</h1></div>
        <nav class="navigation">
            <ul class="navBar">
                {{navigation}}
            </ul>
        </nav>
        <section class="dbNumber">
            <div id="db">
            <h3>{{lang[number]}}</h3>
            <p>Songs: {{songs}}</p>
            <p>Artists: {{artists}}</p>
            </div>
            <div id="time">
                display time with php
            </div>
        </section>
    </header>


