<title>{{lang[title]}}</title>
</head>
<body>
    <header>
        <div class="flexMenu">
            <div class="title"><h1>W1 Music</h1></div>
            <nav class="navigation">
                <ul class="navBar">
                    {{navigation}}
                </ul>
            </nav>
        </div>
        <div class="flexStats">
        <section class="dbNumber">
            <h3>{{lang[number]}}</h3>
            <div id="date">
                <p>{{date}}</p>
            </div>
            <div id="db">
                <p>Songs in the Database: {{songs}}</p>
                <p>Artists in the Datebase: {{artists}}</p>
            </div>
        </section>
        </div>
    </header>


